<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UAS_Risky"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <!-- TODO Edit This Too -->
        <activity
            android:name=".activity.pengguna.Activity"
            android:exported="true"/>
        <activity
            android:name=".activity.produk.Activity"
            android:exported="true"/>
        <activity
            android:name=".activity.pemasok.Activity"
            android:exported="true"/>
        <activity
            android:name=".activity.kurir.Activity"
            android:exported="true"/>
        <activity
            android:name=".activity.detailtransaksi.Activity"
            android:exported="true"/>
        <activity
            android:name=".activity.detailpembelian.Activity"
            android:exported="true"/>
        <activity
            android:name=".activity.pembelian.Activity"
            android:exported="true"/>
        <activity
            android:name=".activity.transaksi.Activity"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>